<template>
  <div class="px-24 py-16">
    <div class="flex flex-row gap-8 justify-center">
      <div class="w-4/5 flex flex-col">
        <h1 v-if="detail.volumeInfo" class="text-5xl mb-6">
          {{ detail.volumeInfo.title }}
        </h1>

        <div class="leading-6 mb-6">
          <h2 v-if="detail.volumeInfo" class="text-blue-500 font-semibold">
            <div
              v-for="(v, i) in detail.volumeInfo.authors"
              :key="i"
              class="inline-flex"
            >
              {{ v }}
              <span
                v-show="i + 1 != detail.volumeInfo.authors.length"
                class="px-2"
                >·</span
              >
            </div>
          </h2>
          <h3 v-if="detail.volumeInfo" class="text-xs text-gray-500">
            {{ detail.volumeInfo.publishedDate }} ·
            {{ detail.volumeInfo.publisher }}
          </h3>
        </div>

        <div class="flex flex-row gap-6 mb-10">
          <div class="text-center">
            <div v-if="detail.volumeInfo">
              {{ detail.volumeInfo.averageRating || 0 }} ⭐️
            </div>
            <div v-if="detail.volumeInfo" class="text-xs text-gray-500">
              {{ detail.volumeInfo.ratingsCount || 0 }} reviews
            </div>
          </div>
          <div class="flex flex-col justify-center">
            <span class="border-r h-6"></span>
          </div>
          <div class="text-center">
            <div class="ClM7O">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="cvp37c"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12.4996 6.36584L14.001 7.65237V4H11.001V7.65075L12.4996 6.36584ZM10 2H11.001H14.001H15H16.998C18.6461 2 20.001 3.35397 20.001 5.002V18.998C20.001 20.646 18.6461 22 16.998 22H4V2H10ZM18.001 5.002C18.001 4.459 17.542 4 16.998 4H16.001V12L12.5 9L9.001 12V4H6V20H16.998C17.542 20 18.001 19.541 18.001 18.998V5.002Z"
                  class="EJYEtd"
                ></path>
              </svg>
            </div>
            <div v-if="detail.volumeInfo" class="text-xs text-gray-500">
              {{ detail.volumeInfo.printType || '-' }}
            </div>
          </div>
          <div class="flex flex-col justify-center">
            <span class="border-r h-6"></span>
          </div>
          <div class="text-center">
            <div v-if="detail.volumeInfo">
              {{ detail.volumeInfo.pageCount }}
            </div>
            <div class="text-xs text-gray-500">Pages</div>
          </div>
          <div class="flex flex-col justify-center">
            <span class="border-r h-6"></span>
          </div>
          <div class="flex flex-col justify-center text-center">
            <div v-if="detail.volumeInfo" class="text-xs text-gray-500">
              {{ detail.volumeInfo.maturityRating }}
            </div>
          </div>
        </div>

        <div class="flex flex-row items-center mb-16 gap-4">
          <a
            :href="detail && detail.saleInfo && detail.saleInfo.buyLink"
            target="_blank"
            class="bg-blue-500 hover:bg-blue-600 hover:shadow-md text-white rounded-md px-4 tracking-wider py-2"
          >
            <span class="line-through pr-2 text-gray-200">
              {{
                detail &&
                detail.saleInfo &&
                detail.saleInfo.listPrice &&
                detail.saleInfo.retailPrice.amount | currency
              }}
            </span>
            <span>
              {{
                detail &&
                detail.saleInfo &&
                detail.saleInfo.retailPrice &&
                detail.saleInfo.retailPrice.amount | currency
              }}
            </span>
          </a>
          <div>
            <a
              download
              :href="
                detail &&
                detail.accessInfo &&
                detail.accessInfo.pdf &&
                detail.accessInfo.pdf.acsTokenLink
              "
              class="text-blue-500 hover:bg-blue-100 border text-white rounded-md px-10 mr-2 tracking-wider py-2"
            >
              Free Sample
            </a>
            <button
              class="text-blue-500 hover:bg-blue-100 text-sm text-white rounded-md px-6 tracking-wider py-2"
            >
              Add to wishlist
            </button>
          </div>
        </div>

        <div>
          <h2 class="text-2xl mb-6">About this eBook</h2>
          <p
            v-if="detail.volumeInfo"
            class="text-sm text-gray-500"
            v-html="detail.volumeInfo.description"
          >
            {{ detail.volumeInfo.description }}
          </p>
        </div>
      </div>
      <div class="w-2/5">
        <div class="flex flex-row justify-center">
          <img
            class="shadow-md"
            style="width: 18rem; height: 26rem"
            :src="
              detail &&
              detail.volumeInfo &&
              detail.volumeInfo.imageLinks &&
              detail.volumeInfo.imageLinks.medium
            "
            alt="Gambar buku"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DetailBook',
  filters: {
    currency(val) {
      const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'IDR',
      })

      return formatter.format(val)
    },
  },
  data() {
    return {
      detail: {},
    }
  },
  mounted() {
    this.getDetailBook()
  },
  methods: {
    async getDetailBook() {
      const response = await this.$axios.$get(
        'https://www.googleapis.com/books/v1/volumes/' + this.$route.params.id
      )
      this.detail = response
    },
  },
}
</script>

<style>
.ClM7O {
  color: #202124;
  fill: #202124;
  stop-color: #202124;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.0178571429em;
  font-weight: 500;
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: center;
  white-space: nowrap;
}

.cvp37c {
  height: 18px;
  margin-right: 7px;
  width: 18px;
}

.EJYEtd {
  color: #202124;
  fill: #202124;
  stop-color: #202124;
}
</style>
