<template>
  <div>
    <section class="text-gray-700 body-font overflow-hidden bg-white">
      <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
          <img alt="ecommerce" class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200"
            src="https://www.whitmorerarebooks.com/pictures/medium/2465.jpg">
          <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
            <h2 class="text-sm title-font text-gray-500 tracking-widest">Yudha Wahyu</h2>
              <div class="flex relative">
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">The Catcher in the Rye</h1>
                <span class="absolute title-font font-medium right-0 text-2xl text-gray-900">Rp. 100</span>
              </div>
            <p class="leading-relaxed">Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha taximy
              chia microdosing tilde DIY. XOXO fam indxgo juiceramps cornhole raw denim forage brooklyn. Everyday carry
              +1 seitan poutine tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean shorts keytar
              banjo tattooed umami cardigan.</p>
            <div>
              <h5 class="text-xl font-bold text-black">Detail</h5>
            </div>
            <hr class="border-2">
            <div class=" grid grid-cols-3 gap-2">
              <div>
                <h3 class="text"><span class="text-md font-medium text-black">Penerbit: </span> Gramedia</h3>
              </div>
              <div>
                <h4><span class="text-md font-medium text-black">ISBN: </span>1213313</h4>
              </div>
              <div>
                <h4><span class="text-md font-medium text-black">ISBN: </span>1213313</h4>
              </div>
              <div>
                <h4><span class="text-md font-medium text-black">ISBN: </span>1213313</h4>
              </div>
              <div>
                <h4><span class="text-md font-medium text-black">ISBN: </span>1213313</h4>
              </div>
              <div>
                <h4><span class="text-md font-medium text-black">ISBN: </span>1213313</h4>
              </div>

            </div>
            <button
              class="w-full mt-3 text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">Button</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
    name: 'DetailBook'
}
</script>

<style>

</style>