<template>
  <div>
    <div class="p-4 grid grid-cols-12 justify-center gap-3">
      <div
        v-for="(booklist, id) in databook"
        :key="id"
        class="relative border cursor-pointer hover:bg-gray-100 col-span-2 shadow-md rounded-md"
        @click="$router.push('book/' + booklist.id)"
      >
        <div class="p-4 flex justify-center">
          <img
            v-if="booklist.volumeInfo.imageLinks"
            :src="booklist.volumeInfo.imageLinks.smallThumbnail"
            alt="img-book"
            class="h-48 w-36"
          />
        </div>
        <div class="mx-4 mb-2">
          <span v-if="booklist.volumeInfo" class="text-gray-700 text-xs">{{
            booklist.volumeInfo.title
          }}</span>
          <h2 v-if="booklist.volumeInfo" class="truncate">
            {{ booklist.volumeInfo.subtitle }}
          </h2>
          <p v-if="booklist.saleInfo.listPrice" class="text-blue-500 font-bold">
            {{ booklist.saleInfo.listPrice.amount | currency }}
          </p>
          <p v-else class="text-red-500 font-bold">Tidak di Jual</p>
        </div>
      </div>
    </div>

    <!-- pagination -->
    <div
      class="flex items-center justify-center py-10 lg:px-0 sm:px-6 px-4 my-4"
    >
      <div
        class="lg:w-3/5 w-full flex items-center justify-between border-t border-gray-200"
      >
        <div
          @click="prevPage(currentPage)"
          class="flex items-center pt-3 text-gray-600 hover:text-indigo-700 cursor-pointer"
        >
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.1665 4H12.8332"
              stroke="currentColor"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M1.1665 4L4.49984 7.33333"
              stroke="currentColor"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M1.1665 4.00002L4.49984 0.666687"
              stroke="currentColor"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p class="text-sm ml-3 font-medium leading-none">Previous</p>
        </div>
        <div class="sm:flex hidden overflow-x-auto overflow-y-hidden py-2 mx-3">
          <p
            v-for="n in pagebook"
            :key="n"
            class="text-sm font-medium leading-none cursor-pointer text-gray-600 hover:text-indigo-700 hover:border-indigo-400 pt-3 mr-4 px-2"
            :class="{
              'text-indigo-700 border-indigo-400 border-t border-transparent':
                currentPage == n - 1,
            }"
            @click="changePage(n - 1)"
          >
            {{ n }}
          </p>
        </div>
        <div
          @click="nextPage(currentPage)"
          class="flex items-center pt-3 text-gray-600 hover:text-indigo-700 cursor-pointer"
        >
          <p class="text-sm font-medium leading-none mr-3">Next</p>
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.1665 4H12.8332"
              stroke="currentColor"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M9.5 7.33333L12.8333 4"
              stroke="currentColor"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M9.5 0.666687L12.8333 4.00002"
              stroke="currentColor"
              stroke-width="1.25"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BookList',
  filters: {
    currency(val) {
      const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'IDR',
      })

      return formatter.format(val)
    },
  },
  props: ['q'],
  data() {
    return {
      databook: null,
      query: '',
      pagebook: null,
      currentPage: 0,
      limitPage: 20,
    }
  },
  watch: {
    q(value) {
      this.getBook(value)
    },
    watchQuery: ['page'],
  },
  mounted() {
    this.getBook('programming')
  },
  methods: {
    async getBook(q = '', startIndex = 0, maxResults = 18) {
      const databook = await this.$axios.$get(
        'https://www.googleapis.com/books/v1/volumes?q=' +
          q +
          '&startIndex=' +
          startIndex +
          '&maxResults=' +
          maxResults +
          '&filter=paid-ebooks'
      )

      this.query = q
      this.databook = databook.items
      this.pagebook = Math.round(databook.totalItems / this.limitPage) - 1
    },
    changePage(n) {
      this.getBook(this.query, n)
      this.currentPage = n
    },
    nextPage(n) {
      this.getBook(this.query, n + 1)
      this.currentPage = n + 1
    },
    prevPage(n) {
      if (this.currentPage === 0) {
        return
      }

      this.getBook(this.query, n - 1)
      this.currentPage = n - 1
    },
  },
}
</script>

<style></style>
