<template>
    <div>
        <footer class="bg-gray-200 text-center lg:text-left">
            <div class="text-gray-700 text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2022 Copyright:
                <NuxtLink class="text-blue-800" to="/">
                Yudha Wahyu P
                </NuxtLink>
            </div>
        </footer>
    </div>
</template>

<script>
export default {
    name: "FooterLayout"
}
</script>

<style>

</style>
