<template>
  <div>
    <div class="flex justify-center">
      <div class="mb-3 xl:w-96">
        <label
          for="exampleSearch2"
          class="form-label inline-block mb-2 text-gray-700"
          >Search</label
        >
        <input
          id="exampleSearch2"
          type="search"
          class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          placeholder="Cari Buku Mu Disini"
          @keyup="search"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    search(e) {
      this.$emit('onSearch', e.target.value)
    },
  },
}
</script>

<style></style>
