<template>
<div>
  <NavBar/>
  <Nuxt />
  <Footer />
</div>
</template>

<script>
import NavBar from '~/components/NavBar.vue';
export default {
    name: "DefaultLayout",
    components: { NavBar }
}
</script>

<style>

</style>