<template>
  <div>
    <!-- Search -->
    <div class="mt-8 mb-10">
      <SearchBook @onSearch="handleSearch" />
    </div>

    <!-- Book -->
    <div>
      <Book :q="searchQuery" />
    </div>
  </div>
</template>

<script>
import SearchBook from '~/components/SearchBook.vue'
import Book from '~/components/Book.vue'
export default {
  name: 'ProductPege',

  components: { SearchBook, Book },
  data() {
    return {
      searchQuery: '',
    }
  },
  methods: {
    handleSearch(value) {
      console.log(value)

      this.searchQuery = value

      console.log(this.searchQuery)
    },
  },
}
</script>

<style></style>
